@tailwind base;
@tailwind components;
@tailwind utilities;

/* change from class selector(.) to id selector(#) to see the changes */
.profile-pic-square , .profile-pic{
    background-image: url(./images/dotted-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body{
    background-color: rgb(31 41 55);
}



#first-background-image {
    /* background-image: ; */
    background-image: linear-gradient(to bottom,rgb(0 0 255 / 50%),rgba(174, 230, 195, 0.5)), url(./images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: auto;
    padding: 0;
    color: rgb(31 41 55);
  }

 .carousel-container {
      position: relative;
      overflow: hidden;
    }

    .carousel {
      display: flex;
      transition: transform 0.3s ease;
    }

    .carousel-item {
      flex: 0 0 50%; /* Show two items at a time */
      min-height: 60vh;
    }

    .pagination {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }

    .pagination-dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 0 4px;
      cursor: pointer;
    }

    .pagination-dot.active {
      background-color: #000;
    }
  
