@tailwind base;
@tailwind components;
@tailwind utilities;

#profile-pic-square{
    background-image: url(./images/dotted-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}